*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navBar{
    padding: 10px 5%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(to left, rgba(8, 0, 255, 0.2), rgba(0, 0, 0));
}

.portfolioLogo {
    padding: 10px 1%;
    width: 85px;
}

.navBar ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
}

nav li a {
    color: #4666FF;
    text-decoration: none;
}

nav li a:hover {
    color: #3852CC;
    text-decoration: none;
}

.navBar .toggle_btn{
    color: #4666FF;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.navBar .toggle_btn:hover{
    color: #3852CC;
    font-size: 1.5rem;
    cursor: pointer;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 210px;
}

.dropdown_menu li{
    list-style: none;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container{
    text-align: center;
    max-width: 100%;
    
}

main .container .firstskillcontainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

main .container .firstskillcontainer .skill{
    margin-left: 2%;
    margin-right: 2%;
}

main .container .firstskillcontainer .skill p{
    padding-top: 10px;
}

main .container .secondskillcontainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

main .container .secondskillcontainer .skill{
    margin-left: 2%;
    margin-right: 2%;
}

main .container .secondskillcontainer .skill p{
    padding-top: 10px;
}

main .container .thirdskillcontainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

main .container .thirdskillcontainer .skill{
    margin-left: 3%;
    margin-right: 3%;
}

main .container .thirdskillcontainer .skill p{
    padding-top: 10px;
}

main .container h1, main .container h2{
    color: white;
    padding-top: 30px;
}

main .container div div p {
    color: white;
}

footer{
    margin-top: auto;

}

footer p{
    color: white;
    padding-top: 5px;
    padding-left: 5%;
}

footer p :hover {
    color:#4666FF;
}

footer .LinkedIn{
    padding-bottom: 30px;
}

footer p a {
    color: white;
    text-decoration: none;
}
footer p a i {
    color: #1E3050;
    text-decoration: none;
}

@media (max-width: 1100px) {
    
    footer {
        padding-top: 15px;
    }

    footer .LinkedIn {
        color: white;
        padding-bottom: 20px;
    }

}

@media (max-width: 992px) {
    .navBar .Links{
        display: none;
    }

    .navBar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}